
code/__pycache__/
/__pycache__/
settings.json
.env
.Rapp.history
.rds
*.rds
*.Rhistory
*.RData
*.DS_Store
.python-version
.envrc

Papers and bib/*
estimation_legislation/data/Codebooks
estimation_legislation/temp/*
prediction_legislation/temp/*
prediction_headlines/temp/*

estimation_headlines/data/raw/CAPM_returns.csv
estimation_headlines/data/raw/F-F_Research_Data_Factors_daily.CSV
estimation_headlines/data/raw/headlines2019.csv
estimation_headlines/data/raw/FF3_returns.csv
