.DS_Store
.Rhistory

code/__pycache__/
/__pycache__/
data/raw/*.csv.DS_Store
settings.json
.env
.Rapp.history
.rds
*.rds
*.Rhistory
*.RData
.python-version
.envrc

estimation_cb/data/Codebooks

estimation_cb/temp/*
prediction_cb/temp/*
prediction_headlines/temp/*
Papers and bib/*

zeims_et_al_clean/.DS_Store
headlines/code/.DS_Store
headlines/data/step1_batch_prompts/.DS_Store

